
.body{
  background-color: #FAF5EF;
  height: 3000px;

}

.head{
  background-color: rgb(219, 214, 214);
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;

}

.centerside{
  color: rgb(81, 82, 82);
  font-size: 15px;
  font-style: normal;
  cursor: pointer;
  font-weight: 30px;
  text-transform: capitalize;
  padding-left: 350px;
  padding-right: 300px;
  padding-top: 10px;}


.CAPITAL{
  display: grid;
  height: 70px;
  background-color:white;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr;

}
.capital-left{
  display: flex;
  margin-left: 35px;
  align-items: center;
  gap: 35px;
  row-gap: 35px;
  column-gap: 35px;
  color: rgb(135, 10, 10);
  font-weight: 500px;
  font-style: italic;
  text-transform: capitalize;
  padding: 5px 15px;
  cursor: pointer;
  transition: 0.3s;
}
.capital-left:hover{
  transform: translateY(-5px);
}

.capital-center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20;
  cursor: pointer;
  transition: 0.3s;
}
.capital-center:hover{ 
  transform:translateY(-5px)
}
.rhode{
  color:  rgb(135, 10, 10);
  font-size: 50px;
  font-weight: 500px;
  font-style: italic;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 30px;
}

.capital-right{
  display: flex;
  margin-right: 35px;
  align-items: center;
  gap: 35px;
  row-gap: 35px;
  column-gap: 35px;
  cursor: pointer;
  color:  rgb(135, 10, 10);
  font-style: italic;
  font-weight: 500px;
  text-transform: capitalize;
  padding: 20px 20px;
  transition: 0.3s;
}
.capital-right:hover{
  transform: translateY(-5px);
}

.pctrs{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  justify-content: space-around;
  border-radius: 20px;
}

.pcrt1{
  transition: 0.2s ;

}
.pctr1:hover{
  transform: translateY(-4px);
  transform: scale(1.1);
  filter: brightness(0.5);
  border-radius: 20px;
  
}
.pctr2{
  transition:0.2s;
}
.pctr2:hover{
  transform: translateY(-4px);
  transform: scale(1.1);
  filter: brightness(0.5);
  border-radius: 20px;
}
.pctr3{
  transition:0.2s;
}
.pctr3:hover{
  transform: translateY(-4px);
  transform: scale(1.1);
  filter: brightness(0.5);
  border-radius: 20px;
}

.image-container {
  top: 30px;
  position: relative; 
  width: 900px; 
  height: 450px; 
  padding-left: 9px;

}

.cover {
  width: 1066px; 
  height: 90%;
  border-radius: 15px;
}

.overlay {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
  text-align: center;
   
}

.titlecover {
  font-size: 30px; 
  font-weight: bold; 
  color: rgb(135, 10, 10); ;
  cursor: pointer;
  text-align: center;
  padding-left: 75px;
  padding-bottom: 60%;
  text-align: center;
}

.paragraph{
  position: absolute;
  color: rgb(135, 10, 10); 
  font-style: oblique;
  font-size: 15px;
  font-weight: 30px;
  top:32%; 
  width: 80%; 
  padding-left: 80px;
  cursor: pointer;
}

.products-container {
  width: 90%;
  overflow-x: auto; 
  padding: 20px;
  position: relative;
  
  
  
}



.products{
  display: flex;
  gap: 40px;
  cursor: pointer;
  justify-content: space-around;
  transition: 0.6s ;
  
  
  

 
}

.products :hover{
  transform: translateY(-9px);
  transform: scale(1.1);
  filter: brightness(0.9);
}

.hailey-container{
  top: 30px;
  position: relative; 
  padding-left: 9px;
  scale: 1.0;
  
}

.cherrypic{
  border-radius: 15px;
}

.text {
  position: absolute;
  top: 50%; 
  left: 5%; 
  transform: translateY(-50%); 
  text-align: left;
  width: 40%; 
  font-style: oblique;
}
.title{
  font-style: italic;
  font-size: 30px;
}


.hailey{
  position: absolute;
  top: 50%; 
  left: 120%; 
  transform: translateY(-50%);
  justify-content: right;
  border-radius: 10px; 
}

.cake-container{
  top: 110px;
  position: relative;
  padding-left: 50px;
  justify-content: space-around;
  

}

.cakerhode{
  border-radius: 15px;
  position: absolute;
  justify-content: left;
  scale: 1.2;
}

.sidecake{
  border-radius: 15px;
  position: absolute;
  scale: 1.2;
  left: 54%;
  
}
